<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/creepyface"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/creepyface_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2"
        tools:targetApi="31">
        <activity
            android:name="Setari_Admin_Angajat.Stergere_Conturi_Angajati"
            android:exported="false" />
        <activity
            android:name="Setari_Admin_Angajat.Creare_Cont_Angajat"
            android:exported="false" />
        <activity
            android:name="Setari_Admin_Angajat.Adaugare_Mancare"
            android:exported="false" />
        <activity
            android:name="Setari_Admin_Angajat.Schimbare_Date_Angajati"
            android:exported="false" />
        <activity
            android:name="Setari_Admin_Angajat.Schimbare_date_mancare"
            android:exported="false" />
        <activity
            android:name="Start_Activity.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Login_Activity"
            android:exported="false" />
        <activity
            android:name="Activity_Cautare.Cautare"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="Start_Activity.StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>